$primary-color: #0671fc;
// $secondary-color: #ff9100;
$secondary-color: #f8330e;
$gray-color: #ccc;

body {
    background-color: black !important; 
    font-family: Arial, Helvetica, sans-serif;
}

